/* цвета фона
основной #E5E5E5;
второстепенный #F5F4FA; 
серый #2F303A; */

/* цвета текста
заглавия #212121;
основной #757575; */

/* акцент #2196F3; */
/* белый #FFFFFF; */

/* футер почта и телефон: rgba(255, 255, 255, 0.6);
 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-bg-color: #e5e5e5;
  --primary-bg-color: #f5f4fa;
  --grey-bg-color: #2f303a;
  --white-color: #ffffff;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
img {
  display: block;
}

/* Акцент */
.accent {
  color: var(--accent-color);
}

/* Сброс отступов браузера */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Оформление списков */
.list {
  list-style: none;
}
/* Оформление ссылок */
.link {
  text-decoration: none;
}


.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid tomato;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container-header {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid tomato;
  
}

/* Оформление логотипа в шапке сайта */
.logo-header {
  margin-right: 93px;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}
.logo-header:hover,
.logo-header:focus {
  color: var(--accent-color);
}
/* Раздел навигации сайта */
.navigation {
  display: flex;
  align-items: center;
}

.site-contacts {
  display: flex;
  margin-left: auto;
}
.nav-list {
  display: flex;
}
.nav-item:not(:last-child) {
margin-right: 50px;
}

.contacts-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
}


.header {
background-color: var(--white-color);
border-bottom: 1px solid #ececec;
}

.header-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
.site-contacts {
  display: flex;
  margin-left: auto;
}
.site-contacts-item:not(:last-child) {
  margin-right: 50px;
  }

.contacts-link {
display:inline-block;
padding-top: 32px;
padding-bottom: 32px;
color: var(--primary-text-color);
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}
.contacts-link.link:hover {
  color: var(--accent-color);
}

/* Герой */
.hero {
background-color: var(--grey-bg-color);
text-align: center;
padding-top: 200px;
padding-bottom: 200px;
}

.hero-title {
  text-align: center;
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;

  color: var(--white-color);
  background-color: #2196f3;
  font-family: roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--white-color);
  background-color: #188ce8;
}

/* Раздел преимущества и наши работы */

.features,
.works {
  background-color: #f5f4fa;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features {
  padding-top: 94px;
  padding-bottom: 47px;
}
.features-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.features-item { 
  flex-basis: calc((100% - 120px) / 4);
  margin-top: 30px;  
  margin-left: 30px;
  }
.features-title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.works-title {
  margin-bottom: 50px;
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.works-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.works-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;  
  margin-left: 30px;
  }


/* Раздел команда */
.team {
  background-color: #e5e5e5;
  margin-top: 40px;
  margin-bottom: 54px;
}
.team-title {
  margin-top: 94px;
  margin-bottom: 50px;
  text-align: center;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.team-name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-text {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;

}
.team-item-card {
  flex-basis: calc((100% - 120px) / 4);
  margin-top: 30px;  
  margin-left: 30px;
  background: var(--white-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team-description {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Раздел футер */
.footer {
  background-color: var(--grey-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo,
.address {
  color: #ffffff;
}
.footer-link-address {
  color: var(--white-color);
}
.footer-logo {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 20px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--accent-color);
}
.address {
  font-style: normal;
}
.footer-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-links-list {
  margin-top: 20px;


}
.footer-page .text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* Портфолио */
.projects-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.filter-button {
  color: var(--title-text-color);
  background: var(--primary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
